# 12 MHz clock
set_io -nowarn clk        35

# 31.5 MHz VGA clock
set_frequency clk12mhz 12
set_frequency clk32mhz 31.5

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn P1A1        4
set_io -nowarn P1A2        2
set_io -nowarn P1A3       47
set_io -nowarn P1A4       45
set_io -nowarn P1A7        3
set_io -nowarn P1A8       48
set_io -nowarn P1A9       46
set_io -nowarn P1A10      44

# PMOD 1A - VGA out
set_io -nowarn hsync       47
set_io -nowarn vsync       45
set_io -nowarn rrggbb[5]          3
set_io -nowarn rrggbb[4]          48
set_io -nowarn rrggbb[3]          46
set_io -nowarn rrggbb[2]          44
set_io -nowarn rrggbb[1]          4
set_io -nowarn rrggbb[0]          2

# PMOD 1B
set_io -nowarn P1B1       43
set_io -nowarn P1B2       38
set_io -nowarn P1B3       34
set_io -nowarn P1B4       31
set_io -nowarn P1B7       42
set_io -nowarn P1B8       36
set_io -nowarn P1B9       32
set_io -nowarn P1B10      28

# PMOD 2 - Rotary encoders
set_io -nowarn player1_a       27
set_io -nowarn player1_b       25
set_io -nowarn player2_a       21
set_io -nowarn player2_b       19

# PMOD 2
set_io -nowarn P2_1       27
set_io -nowarn P2_2       25
set_io -nowarn P2_3       21
set_io -nowarn P2_4       19
set_io -nowarn P2_7       26
set_io -nowarn P2_8       23
set_io -nowarn P2_9       20
set_io -nowarn P2_10      18

# 7-Segments
set_io -nowarn seg_b      26
set_io -nowarn cath       27
set_io -nowarn seg_a      25
set_io -nowarn seg_f      23
set_io -nowarn seg_g      21
set_io -nowarn seg_c      20
set_io -nowarn seg_d      19
set_io -nowarn seg_e      18

set_io -nowarn led[0]     26
set_io -nowarn led[1]     27
set_io -nowarn led[2]     25
set_io -nowarn led[3]     23
set_io -nowarn led[4]     21

## WTFpga assignments
# 7 Segment
set_io -nowarn 7SAA        4
set_io -nowarn 7SAE        2
set_io -nowarn 7SAB       47
set_io -nowarn 7SAF       45
set_io -nowarn 7SAC        3
set_io -nowarn 7SAG       48
set_io -nowarn 7SAD       46
set_io -nowarn 7SCA       44

set_io -nowarn seg[0]      4
set_io -nowarn seg[1]      2
set_io -nowarn seg[2]     47
set_io -nowarn seg[3]     45
set_io -nowarn seg[4]      3
set_io -nowarn seg[5]     48
set_io -nowarn seg[6]     46
set_io -nowarn ca         44

# DIP-Switch
#set_io -nowarn DIP1       43
#set_io -nowarn DIP2       38
#set_io -nowarn DIP3       34
#set_io -nowarn DIP4       31
#set_io -nowarn DIP5       42
#set_io -nowarn DIP6       36
#set_io -nowarn DIP7       32
#set_io -nowarn DIP8       28

# Matrix display
set_io -nowarn OEB       43
set_io -nowarn CSDI      38
set_io -nowarn CCLK      34
set_io -nowarn LE        31
set_io -nowarn RCLK      42
set_io -nowarn RSDI      36
set_io -nowarn reset     32
set_io -nowarn start     28
