# 12 MHz clock
set_io -nowarn clk        35

# Clock lines
set_frequency clk10mhz 10.5
set_frequency clk32mhz 31.5

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
set_io -nowarn LED_RED_N  39
set_io -nowarn LED_GRN_N  40
set_io -nowarn LED_BLU_N  41

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  14
set_io -nowarn FLASH_IO1  17
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn P1A1        4
set_io -nowarn P1A2        2
set_io -nowarn P1A3       47
set_io -nowarn P1A4       45
set_io -nowarn P1A7        3
set_io -nowarn P1A8       48
set_io -nowarn P1A9       46
set_io -nowarn P1A10      44

# PMOD 1A - VGA out
set_io -nowarn hsync       47
set_io -nowarn vsync       45
set_io -nowarn rrggbb[5]          3
set_io -nowarn rrggbb[4]          48
set_io -nowarn rrggbb[3]          46
set_io -nowarn rrggbb[2]          44
set_io -nowarn rrggbb[1]          4
set_io -nowarn rrggbb[0]          2

# PMOD 2
set_io -nowarn P2_1       27
set_io -nowarn P2_2       25
set_io -nowarn P2_3       21
set_io -nowarn P2_4       19
set_io -nowarn P2_7       26
set_io -nowarn P2_8       23
set_io -nowarn P2_9       20
set_io -nowarn P2_10      18


# PMOD 2

# Rotary encoders
set_io -nowarn player1_a       27
set_io -nowarn player1_b       25
set_io -nowarn player2_a       21
set_io -nowarn player2_b       19

# BCD Score
set_io -nowarn score[1]   26
set_io -nowarn score[2]   23
set_io -nowarn score[3]   20
set_io -nowarn score[0]   18


# PMOD 1B

# BCD scoreboard cathodes
set_io -nowarn cath1     42
set_io -nowarn cath2     36

# Start & reset
#set_io -nowarn reset     32    # in use by piezo buzzer
set_io -nowarn start     28

set_io -nowarn buzzer    32

# Difficulty dial
set_io -nowarn difficulty[3]     43
set_io -nowarn difficulty[2]     38
set_io -nowarn difficulty[1]     34
set_io -nowarn difficulty[0]     31

# Matrix display
#set_io -nowarn OEB       43
#set_io -nowarn CSDI      38
#set_io -nowarn CCLK      34
#set_io -nowarn LE        31
#set_io -nowarn RCLK      42
#set_io -nowarn RSDI      36

